.App-logo {
  width: 100px;
  height: auto;
}

.App-header h1 {
  color: rgb(202, 45, 45);
}
.App-header {
  display: flex;          /* make children (img, h1) align horizontally */
  align-items: center;    /* vertically center them */
  gap: 20px;
}
